.cont { 
    width: 640px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    align-items: center;
}

.cont hr {
    height: 2px;
    border: none;
    background: #707070;
}

h1 {
    font-size: 32px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px; /* Space between title and content */
    background-color: #add8e6; 
    width: 100%; /* Full width */
    text-align: center; /* Center the header text */
}

.cont h2{ 
    font-size:27px;
    font-weight: 500;
}

.go{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #9f7bf3;
    border: none;   
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.go:hover {
    background-color: #8163c8;
}

